@import 'roots'

+global-reset // Resets page styles
+framework
// ^ Loads roots styles onto default elements, setting up beautiful defaults.
// Comment this line out if you want to start totally from scratch - all the
// roots mixins will still be available for you.

// ---------------------------------------------
// CSS for the intro page. By all means delete
// ---------------------------------------------

#clock-container
  position: absolute
  margin: 200px 300px
  right: 0

#clock
  position: relative
  .network-line
    border: 3px solid #333
    position: absolute
    &#center
      height: 25px
      width: 25px
      z-index: 4
      +round(50px)
      background-color: #222
      left: 143px
      top: 135px
    &#facebook
      height: 300px
      width: 300px
      +round(155px)
      z-index: 3
    &#linkedin
      height: 500px
      width: 500px
      top: -100px
      left: -100px
      +round(250px)
      z-index: 2
    .tooltip
      position: absolute
      width: 45px
      height: 20px
      background-color: #222
      opacity: 0
      overflow: hidden
      +transition
    .arm.clock
      background-color: #222
      +round(5px)
    .arm
      rotation: 0
      +prefix(transform-origin, center bottom)
      width: 5px
      height: 50%
      position: absolute
      left: 50%
      +round(5px)
      .circle
        border: 3px solid #333
        height: 25px
        +round(20px)
        width: 25px
        display: block
        position: absolute
        top: -15px
        left: -13px
        +transition(all .1s linear)
        &:hover
          width: 30px
          height: 30px
          top: -17px
          left: -15px
          &:after
            content: attr(title)
            background-color: #555
            opacity: 0.5
            width: 20px
            height: 20px
            color: black
    &#facebook
      .circle
        background-color: rgb(59, 89, 152)
    &#linkedin
      .circle
        background-color: #4875B4